<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="vsbridge_indexer_settings">
            <group id="url_rewrites" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Static Content Processor</label>
                <field id="url" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>VSF Url</label>
                </field>
                <field id="media_url" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>VSF Media Url</label>
                </field>
                <field id="category_content_attributes" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category CMS content attributes</label>
                    <source_model>Magebit\StaticContentProcessor\Model\Config\Source\Category\Attributes</source_model>
                    <backend_model>Divante\VsbridgeIndexerCatalog\Model\Config\Backend\Attributes</backend_model>
                    <can_be_empty>1</can_be_empty>
                    <comment>Select attributes to run through CMS content parser/filter. For example, wysiwyg attributes</comment>
                </field>
                <field id="product_content_attributes" translate="label comment" type="multiselect" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product CMS content attributes</label>
                    <source_model>Magebit\StaticContentProcessor\Model\Config\Source\Product\Attributes</source_model>
                    <backend_model>Divante\VsbridgeIndexerCatalog\Model\Config\Backend\Attributes</backend_model>
                    <can_be_empty>1</can_be_empty>
                    <comment>Select attributes to run through CMS content parser/filter. For example, wysiwyg attributes</comment>
                </field>
                <field id="enabled" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable URL Rewrites for all content</label>
                    <comment>Converts magento URLs to VSF during indexation.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
